* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-img {
  background: url(./img/monitores.jpg) no-repeat center top;
  height: 100vh;
  background-size: cover;
}
.container-img:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  background: rgba(255, 255, 255, 0.04);
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
  width: 370px;
}
#titulo {
  color: #fff;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: Arial, Helvetica, sans-serif;
}
.campo {
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.95);
}
.campo input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

/*span mostrar*/
.show {
  position: absolute;
  right: 19px;
  font-size: 10px;
  font-weight: 700;
  color: #808080;
  cursor: pointer;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
}
.password:valid ~ .show {
  display: block;
}

.space {
  margin-top: 16px;
}

.campo img {
  margin-top: 10px;
}

.campo span {
  width: 50px;
  line-height: 45px;
}
.pass {
  text-align: left;
  margin: 10px 0;
}
.pass a {
  color: #fff;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.pass a:hover {
  text-decoration: underline;
}

input[type="submit"] {
  background: #008b8b;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
}
input[type="submit"]:hover {
  background: transparent;
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
  color: #585858;
}
.login {
  color: #fff;
  margin: 20px 0;
}
.link {
  display: flex;
  cursor: pointer;
  color: #fff;
  margin: 0 0 10px 0;
}
.facebook,
.google {
  width: 100%;
  height: 42px;
  line-height: 45px;
  margin-top: 10px;
  margin-left: 10px;
}
.facebook {
  background: rgba(255, 255, 255, 0.04);
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}
.google {
  background: rgba(255, 255, 255, 0.04);
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}
.facebook:hover {
  background: #0000ff;
}
.google:hover {
  background: #ff4500;
}
.signup {
  font-size: 15px;
  color: #fff;
  margin-top: 30px;
}
.signup a {
  text-decoration: none;
  color: #fff;
}
.signup a:hover {
  text-decoration: underline;
}
